# Packaging
build/
*.egg-info/
*.egg

# Tutorials
.ipynb_checkpoints
*.ipynb_checkpoints

__pycache__/
*.pyc

.vscode/

runs/
data/
run_batch_pipeline/local/
run_batch_pipeline/example/test*
run_batch_pipeline/example/lc_files/
local/